HotelWCF/Client/Connected Services/HotelServiceReference/HotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="HotelAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelRating" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="ArrayOfHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
</xs:schema>